<nav class="navbar navbar-dark fixed-top bg-primary">
  <span class="navbar-brand mb-0 h1">¡Bienvenido {{ nombre }}!</span>
</nav>
<br>
<br>
<div class="m-5">
  <h1 class="text-primary">Aplicacion de login con blockchain</h1>
  <hr>
  <p class=".text-secondary">La blockchain generalmente se asocia con el Bitcoin y otras criptomonedas,
    pero estas son solo la punta del iceberg. Y es que esta tecnología, que tiene
    sus orígenes en 1991, cuando Stuart Haber y W. Scott Stornetta describieron
    el primer trabajo sobre una cadena de bloques asegurados criptográficamente,
    no fue notoria hasta 2008, cuando se hizo popular con la llegada del bitcoin.
    Pero actualmente su utilización está siendo demandada en otras aplicaciones comerciales
    y se proyecta un crecimiento anual del 51% para el 2022 en varios mercados, como el de las
    instituciones financieras o el de Internet de las Cosas (IoT), según publicó MarketWatch.</p>
  <h2 class="text-primary">¿Que es la blockchain</h2>
  <p>La cadena de bloques, más conocida por el término en inglés blockchain,
    es un registro único, consensuado y distribuido en varios nodos de una red.
    En el caso de las criptomonedas, podemos pensarlo como el libro contable donde se
    registra cada una de las transacciones.</p>
  <p>Su funcionamiento puede resultar complejo de entender si profundizamos en los detalles internos
    de su implementación, pero la idea básica es sencilla de seguir.</p>
  <p>En cada bloque se almacena:</p>
  <ul class="list-group">
    <li class="list-group-item bg-primary text-white">Una cantidad de registros o transacciones válidas</li>
    <li class="list-group-item bg-primary text-white">Información referente a ese bloque</li>
    <li class="list-group-item bg-primary text-white">Su vinculación con el bloque anterior y el bloque siguiente
      a través del hash de cada bloque</li>
    <li class="list-group-item bg-primary text-white">Un código único que sería como la huella digital del bloque</li>
  </ul>



  <br>
  <button class="btn btn-outline-danger btn-block" (click)="salir()">Cerrar sesion
  </button>

</div>
<hr>
<footer>
  <h3>Autores</h3>
  <p class="text-muted">David Alejandro Romero Romero 20161020022<br>
    Sergio Alejandro Gomes Lara 20161020046</p>
</footer>